*.pyc
*.py~
mvpa_itab.egg-info/
build/
dist/
.project
.pydevproject
.gitignore~
*.npz
.pytest_cache/
.vscode/*
.vscode
.coveragerc
.coveragerc*
.coverage
.coverage.*
*.temp
junit-results.xml
doc/source/*.doctree


sekupy/io/data/fmri/0_results/*
sekupy/io/data/fmri/derivatives/*
sekupy.egg-info/*
examples/
doc/source/_build/*
