*.pyc
*.py~
mvpa_itab.egg-info/
build/
dist/
.project
.pydevproject
.gitignore~
*.npz
.pytest_cache/
.vscode/*
.vscode
.coveragerc
.coverage
.coverage.*
*.temp
doc/source/*.doctree


pyitab/io/data/fmri/0_results/*
pyitab/io/data/fmri/derivatives/*
pyitab.egg-info/*
examples/
doc/source/_build/*
