numpy>=1.16.0
scipy
matplotlib
pandas
seaborn
statsmodels
scikit-learn
pymvpa2
nilearn
mne
nibabel
pybids
nitime
imbalanced-learn
joblib
bokeh
dask
dask-jobqueue
dask-kubernetes
distributed
xlrd
coverage
codecov
pytest>=3.6.0
pytest-cov
tqdm