scipy
numpy
matplotlib
pandas
seaborn
statsmodels
scikit-learn
nilearn=0.11.0
mne
nibabel
pybids
imbalanced-learn
joblib
bokeh
dask
dask-jobqueue
dask-kubernetes
distributed
xlrd
coverage
codecov
pytest
pytest-cov
tqdm
h5py
hmmlearn
