matplotlib
pandas
seaborn
statsmodels
scikit-learn
nilearn
mne
pybids
imbalanced-learn
joblib
xlrd
tqdm
h5py
numpy
numpy
cython
flake8
lxml
mkl
sphinx
sphinx-gallery
rinohtype
furo
numpydoc
coverage
pillow
joblib