scipy==1.2
matplotlib
pandas
seaborn
statsmodels
scikit-learn
nilearn
mne
mne-hcp
nibabel
pybids
imbalanced-learn
joblib
bokeh
dask
dask-jobqueue
dask-kubernetes
distributed
xlrd
nistats
coverage
codecov
pytest>=3.6.0
pytest-cov
tqdm
h5py
hmmlearn
pybids
mne-hcp
pymvpa2
