scipy
numpy
matplotlib
pandas
seaborn
statsmodels
scikit-learn
nilearn
mne
mne-hcp
nibabel
pybids
imbalanced-learn==0.8.1
joblib
bokeh
distributed
xlrd
nistats
coverage
codecov
pytest
pytest-cov
tqdm
h5py
hmmlearn
pybids==0.15.6
pymvpa2
bids-validator==1.9.9
